<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736169239223-hhpjamt2bsp673b2c9ta0epm2g6fmmcm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736169239223-hhpjamt2bsp673b2c9ta0epm2g6fmmcm</string>
	<key>API_KEY</key>
	<string>AIzaSyADhILNCmn-6rqlD3c1K0dKxFGxFPG2adE</string>
	<key>GCM_SENDER_ID</key>
	<string>736169239223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.student.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>studentacr-4af49</string>
	<key>STORAGE_BUCKET</key>
	<string>studentacr-4af49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736169239223:ios:0f7bc071503c1c42e96332</string>
</dict>
</plist>